body {
	font-family: 'Quicksand', sans-serif;
	margin:0;
}
h1 {
	font-family: 'Concert One', cursive;
	font-size:70px;
	margin:0;
}

nav {
	position:fixed;
	color:white;
	width:100%;
	text-align:right;
	padding:10px 0;
}
	nav ul {
		padding:0 40px 0 0;
	}
	nav ul li {
		list-style:none;
		display: inline;
		margin:0 10px;
	}

#landing {
	background-color:#222;
	color:white;
	text-align:center;
	display:flex;
	align-items:center;
	height:100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("hipster-coffee-shop.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}
	#landing div {
		margin:auto;
	}
	#landing h2 {
		font-style:italic;
	}
#about {
	padding:40px 100px;
}