body {
    
}

#team {
    margin-bottom: 50px;
}

#team article {
    position: relative;
    margin: 50px auto 0;
    
    height: 200px;
    width: 80%;
    
    background-color: #fff;
    text-align: left;
}
    #team > article > img {
        float: left;
        margin-top: 25px;
        margin-left: 50px;
        
        height: 150px;
        width: 150px;
        border-radius: 150px;
    }
    #team > article > .quick-info {
        float: left;
        margin-left: 25px;
    }
        #team .quick-info > h1 {
            color: #E74B3C;
            margin-top: 50px;
            font-size: 30px;
        }
        #team .quick-info > h2 {
            font-size: 25px;
            font-weight: 500;
        }
        #team .quick-info > h3 {
            font-size: 20px;
            font-weight: 300;
        }
    #team > article > p {
        float: right;
        width: 47%;
        margin-right: 50px;
        
        font-size: 21px;
    }

/* Collapse in the image and quick-info so the paragraph doesn't run over the email. */
@media all and (max-width: 1210px) and (min-width:1100px) {
    #team article img {
        margin-left: 25px;
    }
    #team .quick-info > h1 {
        margin-top:60px;
    }
    
    #team .quick-info > h1 { font-size:25px; }
    #team .quick-info > h2 { font-size:20px; }
    #team .quick-info > h3 { font-size:18px; }
}
@media all and (max-width:1100px) {
    #team article {
        height: auto;
        text-align:center;
        padding-top:50px;
        padding-bottom: 50px;
    }
    #team article img {
        float:none;
        margin: 0 auto;
        height: 200px;
        width: 200px;
        border-radius: 200px;
    }
    #team article .quick-info {
        float: none;
        margin-bottom:25px;
        margin-left:0;
    }
    #team article p {
        float:none;
        width:70%;
        margin:0 auto;
    }
}
