body {
    background-color: #F0F0F0;
}

#team {
    margin-bottom: 50px;
}

#team h1 {
    margin-top: 75px;
    color: #343333;
    font-weight: 700;
    font-size:35px;
}

#team article {
    height: 200px;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    text-align:left;
    position:relative;
    margin-top:50px;
}
    #team article img {
        float:left;
        margin-top:25px;
        margin-left:50px;
        
        height: 150px;
        width: 150px;
        border-radius: 150px;
    }
    #team article .quick-info {
        position: absolute;
        left: 225px;
    }
    #team article h1 {
        color: #E74B3C;
        margin-top:50px;
        font-size:30px;
    }
    #team article h2 {
        font-size:25px;
        font-weight: 500;
    }
    #team article h3 {
        font-size:20px;
        font-weight:300;
    }
    #team article p {
        position:absolute;
        right: 50px;
        width:47%;
        font-size: 21px;
    }

@media all and (max-width: 1210px) and (min-width:1100px) {
    #team article img {
        margin-left: 25px;
    }
    #team article .quick-info {
        left: 200px;
    }
        #team article h1 {
            font-size:25px;
        }
        #team article h2 {
            font-size:20px;
        }
        #team article h3 {
            font-size:18px;
        }
}
@media all and (max-width:1100px) {
    #team article {
        height: auto;
        width: 90%;
        text-align:center;
        position:relative;
        margin-top:50px;
        padding-top:50px;
        padding-bottom: 50px;
    }
    #team article img {
        float:none;
        margin: 0 auto;
        height: 200px;
        width: 200px;
        border-radius: 200px;
    }
    #team article .quick-info {
        position: static;
        height: auto;
        text-align: center;
        margin-bottom:25px;
    }
    #team article p {
        position:static;
        width:70%;
        margin:0 auto;
        font-size: 21px;
    }
}