/* styles for the big orange welcome row at the top */
#welcome {
    background-color: #e74b3c;
    color: #fff;
    text-align: center;
    overflow-y: hidden; /* hides the lower box shadow on the brackets screenshot */
    height:600px;
}
    #welcome > h1 {
        font-size: 40px;
        padding-top: 40px;
    }
    #welcome > h2 {
        font-size: 20px;
        margin-top: 10px;
        font-weight: 400;
    }
    #welcome > h3 {
        width:50%;
    }

    #brackets-screenshot {
        width: 60%;
        box-shadow: 0 10px 48px -3px #000;
        overflow-y: hidden;
        display: block; /* Thanks! http://www.htmlforums.com/css/t-margin-under-image-in-ie-73651.html */
        margin: 0 auto;
        margin-top: 50px;
    }

/* styles for the "hook", that lets the user play around with CSS styles */
.hook code {
    font-size: 25px;
    display: block;
}
    .hook code input {
        font-size: 20px;
    }

/* styles for the language boxes */
#lang-bubbles {
    text-align: center; /* centers the middle bubble */
    margin-bottom: 50px;
    margin-top: 50px;
    color: #2c3e50;
}
    #lang-bubbles > article {
        width: 25%;
        background-color: #f4f4f4;
        height: 300px;
        padding: 10px;

        border: 1px solid;
        border-top-width:15px;
    }
        /* This positions the bubbles. */
        #lang-bubbles #html-bubble {
            float: left;
            margin-left: 50px;
            border-color: #2ecc71;
        }
        #lang-bubbles #css-bubble {
            display: inline-block; /* this is basically a replacement for float:center, it'll cause it to position based on the text-align:center in #lang-bubbles */
            border-color: #8e44ad;
        }
        #lang-bubbles #js-bubble {
            float: right;
            margin-right: 50px;
            border-color: #3498db;
        }

        /* This styles the inside of the bubbles. */
        #lang-bubbles > article > h1 {
            font-weight: 600;
            margin-top: 25px;
        }
        #lang-bubbles > article > img {
            width: 75px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        #lang-bubbles > article > p {
            font-size: 20px;
        }

/* styles for workshop/hackathon segment of home page */
.event h1 {
    text-transform: uppercase;
    padding-bottom: 50px;
    width: 300px;
    left: 50%;
    position: relative;
    margin-left: -150px;
}
.event p {
    margin-top: 50px;
    width: 50%;
    position: relative;
    left: 50%;
    margin-left: -25%;
    font-size: 18px;
    line-height: 35px;
}
    #workshop {
        background: url('../images/graypattern.jpg'); /* Thanks! http://www.thewallpapers.org/download/26391/gray-patterns-wallpaper */
        color: white;
        padding-top: 50px;
        padding-bottom: 50px;
        background-size:cover;
        background-attachment: fixed;
    }
    #hackathon {
        background: white;
        color: black;
        padding-top: 50px;
        padding-bottom: 50px;
    }
        #hackathon h1 {
            border-bottom: 1px solid black;
        }
        #workshop h1 {
            border-bottom: 1px solid white;
        }
#phone {
    position: absolute;
    left: 0px;
    margin-top: 80px;
    margin-left: 30px;
    width: 300px;
}
#mock {
    position: absolute;
    left: 100%;
    width: 300px;
    margin-left: -330px;
    margin-top:80px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#goodbye {
    padding-top: 50px;
    background-color: #e74b3c; 
    color: white;
    position: relative;
    width: 100%;
    margin: 0;
    padding-bottom: 50px;
}
    #goodbye > .button {
        margin-top: 100px;
    }

/* media queries */
@media all and (max-width:1200px) {
    #phone, #mock {
        width: 200px;
    }
    #mock {
        margin-left:-230px;
    }
    /* keeps images out of the way of the text for hackathons */
}

@media all and (max-width:890px) {
    #lang-bubbles > article > p {
        font-size: 18px;
    }
}

@media all and (max-width:770px) {
    #phone {
        position: relative;
        left: 0px;
        margin-top: 50px;
        margin-left: 0px;
    }
    #mock {
        display:none;
    }
}

@media all and (max-width:700px) {
    #welcome h3 {
        font-size: 20px;
        width: 90%;
    }

    #welcome #brackets-screenshot {
        width: 90%;
    }

    #lang-bubbles {
        margin-top: 0;
        position: relative;
        height: 1100px;
    }
        /*
            I know what you're thinking - what is all of this crappy code just to center some divs?!?
            You dummy, just float:none all of them and margin: 0 auto!
            WELL IT'S NOT THAT EASY -.- Chrome is kind of mean about floats.
            https://stackoverflow.com/questions/26540998/chrome-not-re-applying-floats-after-media-queries
        */
        #lang-bubbles #html-bubble,
        #lang-bubbles #css-bubble,
        #lang-bubbles #js-bubble {
            position: absolute;
            margin: 0;
            width: 70%;
            left: 15%;
            margin-left: -10px;
            display: block;
        }

        #lang-bubbles #html-bubble { margin-top: 0; }
        #lang-bubbles #css-bubble { margin-top: 360px; }
        #lang-bubbles #js-bubble { margin-top: 720px; }
}