h1, h2, h3 {
    font-weight: 300;
    text-align: center;
    margin: 0;
}
    h1 {
        font-size: 30px;
    }
h3, code, button {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
}

/* These are styles for the big welcome row at the top. */
#welcome {
    background-color: #e74b3c;
    color: #fff;
    text-align: center;
    overflow-y: hidden; /* This hides the lower box shadow on the brackets screenshot so it doesn't go past the orange. */
    height:600px;
}
    #welcome > h1 {
        font-size: 40px;
        padding-top: 40px;
    }
    #welcome > h2 {
        font-size: 20px;
        margin-top: 10px;
        font-weight: 400;
    }
    #welcome > h3 {
        width:50%;
    }

    #brackets-screenshot {
        width: 60%;
        box-shadow: 0 10px 48px -3px #000;
        overflow-y: hidden;
        display: block; /* Thanks! http://www.htmlforums.com/css/t-margin-under-image-in-ie-73651.html */
        margin: 0 auto;
        margin-top: 50px;
    }

/* These are styles for the "hook", that lets the user play around with CSS styles. */
.hook code {
    font-size: 25px;
    display: block;
}
    .hook code input {
        font-size: 20px;
    }

/* These are styles for the language boxes. */
#lang-boxes {
    text-align: center; /* This centers the middle box (the other two are floated). */
    margin-bottom: 50px;
    margin-top: 50px;
    color: #2c3e50;
}
    #lang-boxes > article {
        width: 25%;
        background-color: #f4f4f4;
        height: 300px;
        padding: 10px;

        border: 1px solid;
        border-top-width:15px;
    }
        /* These position the boxes. */
        #lang-boxes #html-box {
            float: left;
            margin-left: 50px;
            border-color: #2ecc71;
        }
        #lang-boxes #css-box {
            /* This is basically a replacement for float:center; it'll cause it to position based on the text-align:center in #lang-boxes. */
            display: inline-block;
            border-color: #8e44ad;
        }
        #lang-boxes #js-box {
            float: right;
            margin-right: 50px;
            border-color: #3498db;
        }

        /* This styles the inside of the boxes. */
        #lang-boxes > article > h1 {
            font-weight: 600;
            margin-top: 25px;
        }
        #lang-boxes > article > img {
            width: 75px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        #lang-boxes > article > p {
            font-size: 20px;
        }

/* These are styles for the events section. */
.event {
    padding-top: 50px;
    padding-bottom: 50px;
}
    .event > h1 {
        width: 300px;
        padding-bottom: 50px;
        margin: 0 auto;
        border-bottom: 1px solid currentColor;
    }
    .event > p {
        font-size: 18px;
        line-height: 35px;
    
        width: 50%;

        margin: 0 auto;
        margin-top: 50px;
    }

#workshop {
    color: white;

    background: url('../images/graypattern.jpg'); /* Thanks! http://www.thewallpapers.org/download/26391/gray-patterns-wallpaper */
    background-size:cover;
    background-attachment: fixed;
}
#hackathon {
    color: black;
    
    background: white;
    position: relative;
}
    #hackathon > img {
        width: 300px;
        position: absolute;
        top: 80px;
    }
        #phone { left: 30px; }
        #mock { right: 30px; }


/* These are styles for the footer. */
#goodbye {
    padding-top: 50px;
    background-color: #e74b3c; 
    color: white;
    position: relative;
    width: 100%;
    margin: 0;
    padding-bottom: 50px;
}
    #goodbye > .button {
        margin-top: 100px;
    }

/* Assorted media queries that change the page depending on it's size. */
@media all and (max-width:1200px) {
    /* This keeps the images out of the way of the text for hackathons */
    #hackathon > img {
        width: 200px;
    }
}

@media all and (max-width:890px) {
    #lang-boxes > article > p {
        font-size: 18px;
    }
}

@media all and (max-width:770px) {
    .event > p {
        width: 80%;
    }

    /* Hides the mock image and centers the phone image. */
    #hackathon > img {
        position: static;
        width: 40%;
        margin-top: 50px;
    }
        #mock { display:none; }
}

@media all and (max-width:700px) {
    #welcome h3 {
        font-size: 20px;
        width: 90%;
    }

    #welcome #brackets-screenshot {
        width: 90%;
    }

    #lang-boxes {
        margin-top: 0;
        position: relative;
        height: 1100px;
    }
        /*
            I know what you're thinking - what is all of this crappy code just to center some divs?!?
            You dummy, just float:none all of them and margin: 0 auto!
            WELL IT'S NOT THAT EASY -.- Chrome is kind of mean about floats.
            https://stackoverflow.com/questions/26540998/chrome-not-re-applying-floats-after-media-queries
        */
        #lang-boxes #html-box,
        #lang-boxes #css-box,
        #lang-boxes #js-box {
            position: absolute;
            margin: 0;
            width: 70%;
            left: 15%;
            margin-left: -10px;
            display: block;
        }

        #lang-boxes #html-box { margin-top: 0; }
        #lang-boxes #css-box { margin-top: 360px; }
        #lang-boxes #js-box { margin-top: 720px; }
}