@import url(https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800);

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    color: #2c3e50;
    text-align: center;
    font-family: 'Lato';
}

/* default stylings */
h1, h2, h3 {
    font-weight: 300;
    text-align: center;
    margin: 0;
}

h3, code, button {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
}

h3 {
    width: 50%;
}

.row {
    position: relative;
    width: 100%;
    margin: 0;
}

a {
    color: currentColor;
}

.button {
    width: 150px;
    height: 55px;
    line-height: 55px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
}
    .standard {
        background-color: #fff;
        color: #e74b3c;
        border: 1px solid #fff;
    }
        .standard:hover {
            background-color: #e74b3c;
            color: #fff;
        }
    .inverted {
        color: #fff;
        background-color: #e74b3c;
        border: 1px solid white
    }
        .inverted:hover {
            background-color: #fff;
            color: #e74b3c;
        }

/* styles for the big orange welcome row at the top */
#welcome-row {
    background-color: #e74b3c;
    color: #fff;
    text-align: center;
    overflow-y: hidden; /* hides the lower box shadow on the brackets screenshot */
    height:600px;
}
    #welcome-row .title {
        font-size: 40px;
        padding-top: 40px;
    }
    #welcome-row .subtitle {
        font-size: 20px;
        margin-top: 10px;
        font-weight: 400;
    }
    #welcome-row h3 {
        width:50%;
    }

    #brackets-screenshot {
        width: 60%;
        box-shadow: 0 10px 48px -3px #000;
        overflow-y: hidden;
        display: block; /* Thanks! http://www.htmlforums.com/css/t-margin-under-image-in-ie-73651.html */
        margin: 0 auto;
    }

/* styles for the "hook", that lets the user play around with CSS styles */
.hook code {
    font-size: 25px;
    display: block;
}
    .hook code input {
        font-size: 20px;
    }

/* styles for the language boxes */
.bubbles {
    text-align: center; /* centers the middle bubble */
    margin-bottom: 50px;
    margin-top: 50px;
    color: #2c3e50;
}
    .bubbles .bubble {
        width: 25%;
        background-color: #f4f4f4;
        height: 300px;
        padding: 10px;

        border: 1px solid;
        border-top-width:15px;
    }
        .bubbles .bubble h1 {
            font-weight: 600;
            margin-top: 25px;
        }
        .bubbles .bubble img {
            width: 75px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .bubbles .bubble p {
            font-size: 20px;
        }
        .bubbles #html-bubble {
            float: left;
            margin-left: 50px;
            border-color: #2ecc71;
        }
        .bubbles #css-bubble {
            display: inline-block; /* this is basically a replacement for float:center, it'll cause it to position based on the text-align:center in .bubbles */
            border-color: #8e44ad;
        }
        .bubbles #js-bubble {
            float: right;
            margin-right: 50px;
            border-color: #3498db;
        }

/* styles for workshop/hackathon segment of home page */
.event h1 {
    text-transform: uppercase;
    padding-bottom: 50px;
    width: 300px;
    left: 50%;
    position: relative;
    margin-left: -150px;
}
.event p {
    margin-top: 50px;
    width: 50%;
    position: relative;
    left: 50%;
    margin-left: -25%;
    font-size: 18px;
    line-height: 35px;
}
    #workshop {
        background: url('http://www.thewallpapers.org/photo/26391/gray-patterns.jpg');
        color: white;
        padding-top: 50px;
        padding-bottom: 50px;
        background-size:cover;
        background-attachment: fixed;
    }
    #hackathon {
        background: white;
        color: black;
        padding-top: 50px;
        padding-bottom: 50px;
    }
        #hackathon h1 {
            border-bottom: 1px solid black;
        }
        #workshop h1 {
            border-bottom: 1px solid white;
        }
#phone {
    position: absolute;
    left: 0px;
    margin-top: 80px;
    margin-left: 30px;
    width: 300px;
}
#mock {
    position: absolute;
    left: 100%;
    width: 300px;
    margin-left: -330px;
    margin-top:80px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.footer h3 {
    width: 75%;
    line-height: 35px;
}

/* styles for the time/place info at the bottom of the page */
.info {
    padding-bottom: 50px;
}
    .info > h1 {
        font-size: 40px;
    }

@media all and (max-width:1200px) {
    #phone, #mock {
        width: 200px;
    }
    #mock {
        margin-left:-230px;
    }
    /* keeps images out of the way of the text for hackathons */
}


@media all and (max-width:1100px) {
    #hero-image-row {
        /* keeps the background image from repeating */
        background-position: 0 -100px;
    }
}

@media all and (max-width:890px) {
    #hero-image-row {
        background-position: 0 -50px;
    }

    .bubbles .bubble p {
        font-size: 18px;
    }

    .info > h3 {
        font-size: 20px;
    }
}

@media all and (max-width:770px) {
    #hero-image-row {
        background-position: 0 0;
    }
    #phone {
        position: relative;
        left: 0px;
        margin-top: 50px;
        margin-left: 0px;
    }
    #mock {
        display:none;
    }
}

@media all and (max-width:700px) {
    #welcome-row h3 {
        font-size: 20px;
        width: 90%;
    }

    #welcome-row #brackets-screenshot {
        width: 90%;
    }

    .bubbles {
        margin-top: 0;
        position: relative;
        height: 1000px;
    }
        /*
            I know what you're thinking - what is all of this crappy code just to center some divs?!?
            You dummy, just float:none all of them and margin: 0 auto!
            WELL IT'S NOT THAT EASY -.- Chrome is kind of mean about floats.
            https://stackoverflow.com/questions/26540998/chrome-not-re-applying-floats-after-media-queries
        */
        .bubbles .bubble,
        .bubbles #html-bubble,
        .bubbles #css-bubble {
            position: absolute;
            margin: 0;
            width: 70%;
            left: 15%;
            margin-left: -10px;
            display: block;
        }
        .bubbles #html-bubble {
            margin-top: 0;
        }
        .bubbles #css-bubble {
            margin-top: 360px;
        }
        .bubbles #js-bubble {
            margin-top: 720px;
        }
}