@import url(http://fonts.googleapis.com/css?family=Lato:300,400,600,700,800);

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    font-family: 'Lato';
}

h1, h2, h3 {
    font-weight: 300;
    text-align: center;
    margin: 0;
}

.row {
    position: relative;
    width: 100%;
    margin: 0;
}

.button {
    width: 125px;
    height: 50px;
    display: block;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
    .standard {
        background-color: #fff;
        color: #e74b3c;
        border: 1px solid #fff;
    }
    .standard:hover {
        background-color: #e74b3c;
        color: #fff;
    }

#intro-row {
    background-color: #e74b3c;
    text-align: center;
    overflow-y: hidden; /* hides the lower box shadow on the brackets screenshot */
}
    #intro-row h1 {
        font-size: 40px;
        padding-top: 40px;
    }
    #intro-row h2 {
        font-size: 20px;
        margin-top: 10px;
        font-weight: 400;
    }
    #intro-row h3 {
        font-size: 25px;
        width: 50%;
        margin: 0 auto;
        margin-top: 15px;
    }
    #intro-row button {
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #brackets-screenshot {
        width: 60%;
        box-shadow: 0 20px 100px 10px #000;
        overflow-y: hidden;
        display: block; /* Thanks! http://www.htmlforums.com/css/t-margin-under-image-in-ie-73651.html */
        margin: 0 auto;
    }

.bubbles {
    text-align: center; /* centers the middle bubble */
    margin-bottom: 50px;
    margin-top: 25px;
    color: #2c3e50;
}
    .bubbles .bubble {
        width: 25%;
        background-color: #f4f4f4;
        height: 300px;
        padding: 10px;
    }
        .bubbles .bubble h1 {
            font-weight: 600;
            margin-top: 25px;
        }
        .bubbles .bubble img {
            width: 75px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .bubbles .bubble p {
            font-size: 20px;
        }
        .bubbles .bubble:first-child {
            float: left;
            margin-left: 50px;
            border-top: 10px solid #2ecc71;
        }
        .bubbles .bubble:nth-child(2) {
            display: inline-block; /* this is basically a replacement for float:center, it'll cause it to position based on the text-align:center in .bubbles */
            border-top: 10px solid #8e44ad;
        }
        .bubbles .bubble:last-child {
            float: right;
            margin-right: 50px;
            border-top: 10px solid #3498db;
        }

.info {
    padding-bottom: 50px;
}
    .info > h1 {
        font-size: 40px;
    }
    .info > h3 {
        font-size: 25px;
    }


@media all and (max-width:1100px) {
    #hero-image-row {
        /* keeps the background image from repeating */
        background-position: 0 -100px;
    }
}

@media all and (max-width:890px) {
    #hero-image-row {
        background-position: 0 -50px;
    }

    .bubbles .bubble p {
        font-size: 18px;
    }

    .info > h3 {
        font-size: 20px;
    }
}

@media all and (max-width:770px) {
    #hero-image-row {
        background-position: 0 0;
    }
}

@media all and (max-width:700px) {
    .bubbles .bubble:nth-child(n) {
        float: none;
        display: block;
        width: 70%;
        margin: 0 auto;
    }
}