/* Modeled after http://purecss.io/layouts/side-menu/ */
body, html {
    overflow-x: hidden;
}

#nav-container {
    position: fixed;
    margin-left: -200px;
    padding-top: 100px;

    width: 200px;
    height: 100%;

    background-color: #272727;
    box-shadow: inset -5px -5px 15px #000;

    transition: margin-left 0.5s ease;
}
    #nav-container.nav-opened {
        margin-left: 0;
    }
    #nav-container a {
        display: block;

        width: 100%;
        height: 50px;
        line-height: 50px;

        text-decoration: none;

        font-size: 25px;
        color: #fff;
    }
    #nav-container a.current,
    #nav-container a:hover {
        background-color: #fff;
        color: #000;
    }

#content-container {
    position: relative;
    width: 100%;

    transition: margin-left 0.5s ease;
}
#content-container.nav-opened {
    margin-left: 200px;
}

/* Modeled after http://codepen.io/designcouch/pen/Atyop */

#menu-button {
  width: 60px;
  height: 45px;
  position: absolute;
  margin: 25px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
    #menu-button.open {
        position: fixed;
        margin-left:-125px;
    }

#menu-button span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    opacity: 1;
    left: 0;
    transform-origin: left center;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#menu-button span:nth-child(1) {
    top: 0px;
}

#menu-button span:nth-child(2) {
    top: 18px;
}

#menu-button span:nth-child(3) {
    top: 36px;
}

#menu-button.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#menu-button.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#menu-button.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}

#header-bar {
    width: 100%;
    height:95px;
    background-color: #E74B3C;
}
    #header-bar h1 {
        color: #fff;
        position: absolute;
        left: 150px;
        line-height: 95px;
        font-size: 35px;
    }